
body{
  background-image: url(https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63641.jpg?w=2000)
  
}
#titular{background-color: white; color: #42f572;font-size: 30px;font-family: system-ui; display:inline}
#descripcion{font-weight: bold; background: white; display: inline;margin-top: 30px}
.elemento{
    color: white;
}
nav{
  position:fixed;
  align-items: 'center';
  justify-content: space-between;

}
nav ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  font-family: fantasy;
}

nav li {
  margin-right: 10px;
}


nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  background-color: #eee;
}






img {
  max-width: 100%;
  height: auto;
  max-height: 1000px; /* opcional: establece la altura máxima de la imagen */
}


