
h1 {
	margin-top: 20px;
}

/* Give all p tags a margin bottom of 20px */
p {
	margin-bottom: 20px;
}

/* Give all columns a border to make them easier to see */
.col-md-6 {
    display: block;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
}

.col-lg-6{
    display: inline-block;
    justify-content: center;
    padding: 2%;
    align-items: center;
}

.img-fluid{
    height: 660vw;
    width: fit-content;
    object-fit: cover;
}

header {
    text-align:center;
    color: white;

    position: sticky;
}

nav{
    background-color: grey;
    size-adjust: 10px;
    color: black;
}

.row{
    margin-top: 100px;
    justify-content: space-around;
    margin-bottom: 100px;
}

#id{
    display:flex;
    justify-content: center;
}

.card{
    margin-bottom: 5%;
}


a.navbar-brand{
    color: white;
}

a.nav-link{
    color: black;
}

footer {
    background-color: #f2f2f2;
    
}

.navbar-toggler-icon {
    color: red;
  }

a.text-dark {
    text-decoration: none;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.carousel-inner {
    max-width: 800px; 
    margin: 0 auto; 
  }
  
.carousel-item img {
    max-width: 100%; 
    height: auto; 
  }
  
  
@media (max-width: 768px) {
    .carousel-inner {
      max-width:100%;
  }
  }

.carousel-dark .carousel-caption {
    color: white;
}